// Colors:
// antracytowy - #333333
$color-anthracite: #383E42;
$color-white: #dcdcdc;
$color-gold: #C6A25A;
$color-red: rgb(183, 6, 6);
$max-width: 1200px;
$padding-m: 10px;
$padding-l: 20px;
$padding-s: 5px;
$padding-xl: 40px;

$navbar-dark-background: $color-anthracite;
body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}
h2 {
    letter-spacing: 0.05em;
    font-size: 44px;
}
h3 {
    font-size: 34px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul {
    list-style: none;
    &.list-bullet {
        list-style: disc;
        padding-left: $padding-l;
    }
}

a {
    text-decoration: none;
    color: $color-anthracite;
}

section {
    border: 0px solid red;
}
.sign {
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    justify-content: center;
    margin: auto;
    margin-top: $padding-l;
    margin-bottom: $padding-l;
    img {
        height: 30px;
    }
}
.icon {
    font-size: 40px;
    display: block;
    margin-bottom: $padding-s;
}

#header {
    position: relative;

    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        #navbar-content {
            max-width: $max-width;
            margin: 0 auto;
            display: flex;
            margin: auto;
            flex-direction: row;
            padding: $padding-l 0;
        }
        #logo {
            max-width: 200px;
        }
        .logotype {
            float: left;
        }
        .menu {
            margin: 0;
            padding: 0;
            flex: 1;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: $padding-l;
            // max-width: 900px;
            li {
                // flex: 1;
                text-align: center;
            }

            a, button {
                cursor: pointer;
                color: $color-white;
                font-size: 1.2em;
                text-transform: uppercase;
                // padding: 0 $padding-m;
                display: block;
                letter-spacing: 0.02em;
                &:hover {
                    transition: text-decoration 0.8s ease;
                    text-decoration: underline;
                }
            }
            .marketplace-link {
                flex: 0 0 44px;
                // padding: 0 $padding-m;
            }
            .make-space {
                margin-left: auto;
            }
            .button {
                background-color: $color-gold;
                color: $color-anthracite;
                padding: $padding-m $padding-m;
                border-radius: 5px;
                border: 1px solid rgb(76, 76, 76);
                float: right;
                &:hover {
                    transition: background-color 0.3s ease, color 0.3s ease;
                    background-color: $color-gold;
                    border: 1px solid $color-anthracite;
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }
        &.dark {
            transition: background-color 0.4s ease;
            background-color: $navbar-dark-background;
            border-bottom: 1px solid $color-gold;
            #navbar-content {
                padding: $padding-m 0;
                transition: padding 0.3s ease;
            }
            .logotype {
                height: 40px;
                transition: height 0.3s ease;
            }
        }
    }

    .slogan {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        color: $color-white;
        z-index: 1;
    }

    #video-container {
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        video {
            width: 100%;
        }
    }
}

section#footer {
    color: #fff;
    background-color: $color-anthracite;
    display: flex;
    flex-direction: row;
    #footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: $max-width;
        margin: 0 auto;
        padding: $padding-l 0;

        div {
            width: 33%;
            text-align: center;
            align-content: center;
        }

        a {
            color: $color-white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
section.text-page {
    padding-top: 80px;
    .text-page-content {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-l;
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
        }
    }
}

section#features {
    #features-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $color-anthracite;
        margin: 0 auto;

        .feature-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 500px;
            max-width: $max-width;
            margin: 0 auto;
        }

        .feature-photo {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 350px;
                max-height: 350px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                border: 2px solid $color-gold;
            }
        }

        .feature-text {
            width: 50%;
            height: 100%;
            background-color: $color-anthracite;
            font-size: 1.2em;
            align-content: center;
            li {
                padding-left: $padding-l;
                padding-top: $padding-s;
                padding-bottom: $padding-s;
                color: $color-white;
                cursor: pointer;
                &:hover {
                    transition: text-decoration 0.8s ease;
                    text-decoration: underline;
                }
            }
            li.selected {
                padding-left: 0;
                font-weight: bold;
                color: $color-white;
                text-decoration: underline;
            }
        }
    }
}

section.photos {
    padding: 70px 0;
    #photos-swapper-content {
        position: relative;
        margin: 0 auto;
        overflow-x: hidden;
        height: 450px;
        .photo-item {
            opacity: 0.5;
            height: 300px;
            width: 300px;
            position: absolute;
            cursor: pointer;
            margin-top: 75px;
            border: 5px solid transparent;
            border-radius: 10px;
            overflow: hidden;
            img {
                // border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                transition: opacity 0.3s ease;
                opacity: 1;
                border: 5px solid $color-gold;
                border-radius: 10px;
            }
            &.highlighted {
                opacity: 1;
                width: 400px;
                height: 400px;
                margin-top: 25px;
                border: 5px solid $color-gold;
                border-radius: 10px;
            }
        }
    }
}


    #socials-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 0;
        gap: $padding-m;
            > div {
                padding: 0 $padding-m;
                display: flex;
                flex-direction: row;
                align-items: startcenter;
                justify-content: center;
                text-align: center;
                a {
                    text-align: center;
                    margin: auto;
                    font-weight: bold;
                    p {
                        margin: $padding-s 0;
                    }
                    &:hover {
                        color: $color-gold;
                        .icon {
                            color: $color-gold;
                        }
                    }
                }
                img {
                    // opacity: 0.75;
                    margin: auto;
                    border-radius: 5px;
                    display: block;
                }
                br {
                    line-height: 0;
                }
            }
        
    }

section#opinions {
    max-width: $max-width;
    margin: 0 auto;
    #opinions-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: $padding-l 0;
        column-gap: 60px;
    }
    .opinion-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        column-gap: 30px;
        p {
            line-height: 1.5;
            font-style: italic;
        }
    }
    .opinion-photo {
        width: 60px;
        border-radius: 50%;
        height: 60px;
        background-color: $color-anthracite;
        background-image: url('images/rates/f1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &.f2 {
            background-image: url('images/rates/f2.jpg');
        }
    }
}

div.header {
    max-width: $max-width;
    margin: 0 auto;
    margin-top: $padding-l;
    margin-bottom: $padding-l;
    h3 {
        line-height: 1;
        margin: 0;
    }
    h2 {
        margin-top: 0;
        line-height: 1;
        color: $color-gold;
        margin-bottom: $padding-m;
    }
}
section#pool {
    #pool-content {
        background-color: $color-anthracite;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: $padding-xl 0;
        // height: 400px;
    }
    .pool-photo {
        width: 50%;
        height: 100%;
        text-align: center;
        .thumbnails {
            margin-top: $padding-l;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            .thumbnail-image {
                height: 70px;
                width: 70px;
                border-radius: 10px;
                opacity: 0.5;
                border: 2px solid transparent;
                &:hover, &.selected {
                    transition: opacity 0.3s ease;
                    opacity: 1;
                    cursor: pointer;
                    border: 2px solid $color-gold;
                }
            }
        }
    }
    .pool-photo-image {
        border: 2px solid $color-gold;
        max-height: 350px;
        max-width: 350px;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        // background-color: $color-anthracite;
        // background-image: url('https://cf.bstatic.com/xdata/images/hotel/max1024x768/723383132.jpg?k=d3787fe73fb7df0db5abf69bd135ea4cd922964ad3938e11b098b463d083d07c&o=');
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
    }
    .pool-text {
        width: 50%;
        height: 100%;
        justify-content: center;
        p {
            color: $color-white;
            font-size: 1.2em;
            line-height: 1.5;
            display: block;
            // padding-top: $padding-l;
            padding-right: $padding-l;
            max-width: calc($max-width/2) - $padding-l;
            float: right;
        }
    }
}

.booking-form-content {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding-l 0;
}

.booking-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    .booking-form-row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
    label {
        font-size: 1em;
        margin-bottom: 4px;
        display: inline-block;
        color: $color-anthracite; // Optional for better contrast
        span {
            color: $color-red;
            margin-left: 5px;
        }
    }

    input,
    select {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        min-width: 120px;
        font-size: 1em;
        height: 40px;
    }

    button[type="submit"] {
        background-color: $color-gold;
        color: $color-anthracite;
        border: none;
        padding: $padding-m $padding-l;
        border-radius: 5px;
        font-size: 1em;
        line-height: 22px;
        cursor: pointer;
        margin-top: 24px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #b5924e;
            color: #fff;
        }
    }
}
.booking-award {
    margin: 0 auto;
    text-align: center;
    margin-top: $padding-l;
    margin-bottom: $padding-l;
    img {
        height: 120px;
        border: 4px solid $color-gold;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .slogan {
        padding: 0 $padding-l;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 26px;
        }
    }
    #header #navbar .menu .button {
        font-size: 1em;
    }
    section#footer #footer-content {
        flex-direction: column;
        gap: $padding-l;
        div {
            width: 100%;
        }
    }
    .pool-photo-image {
        border: 2px solid $color-gold;
        max-height: 350px;
        max-width: 350px;
    }
    section#pool .pool-photo {
        width: 100%;
    }
    .booking-form-content {
        max-width: 100%;
        padding: $padding-l;
        display: block;
    }
    .booking-form .booking-form-row {
        flex-direction: column;
        width: 100%;
        input, select {
            width: 100%;
        }
        button[type="submit"] {
            width: 100%;
        }
        > div {
            width: 100%;
        }
    }
    section.photos #photos-swapper-content {
        height: 360px;
    }
    #header #video-container {
        height: 700px;
        overflow: hidden;
        object-fit: cover;
        video {
            height: 700px;
            width: initial;
        }
    }
}

@media (max-width: 1024px) {
    .booking-form-content {
        padding: $padding-l;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
        button[type="submit"] {
            // margin-top: 0;
        }
    }
    $max-width: 100%;
    #header #navbar .menu {
        margin: 0 $padding-l;
    }
    #header .slogan {
        // top: 100px !important;
    }
    #header #navbar.dark .logotype {
        height: 60px;
    }
    div.header {
        padding: 0 $padding-l;
    }
    section#pool #pool-content {
        flex-direction: column;
        padding: $padding-l;
        .pool-text {
            width: 100%;
            p {
                width: 100%;
                max-width: 100%;
                // padding: 0 $padding-l;
                float: none;
            }
        }
    }
    section#features #features-content .feature-item {
        flex-direction: column;
        height: auto;
    }
    section#features #features-content .feature-text {
        width: 100%;
        text-align: center;
        ul {
            padding-left: 0;
            li {
                padding-left: 0;
            }
        }
    }
    section#features #features-content .feature-photo {
        padding-top: $padding-l;
        width: 100%;
    }

    section#opinions #opinions-content {
        flex-direction: column;
        padding: 0 $padding-l;
    }
    .desktop-only {
        display: none;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    
    section#footer #footer-content {
        padding: $padding-l;
    }
    .booking-award {
        margin-top: $padding-xl;
    }
    
}

@media (max-width: 550px) {
    .sign {
        margin-top: $padding-l;
        margin-bottom: $padding-l;
    }
    section.photos {
        padding: $padding-xl 0;
    }
    section.photos #photos-swapper-content {
        height: 260px;
    }
}
@media (min-width: 1024px) {
    .mobile-only {
        display: none;
    }
}